    * {
        padding: 0;
        margin: 0;
        font-size: 12px;
        font-family: 'Press Start 2P', cursive;
    }

    body{
        background-color: black;
        display:flex;
        justify-content:center;
    }

    .container {
        border:1px solid green;
        padding: 25px;
        margin-top: 5rem;
        display:flex;
        flex-direction:column;
        width: 30%;
        height: 70vh;
    }

    .msg{
        color:green;
    }

    .user-msg{
        width: fit-content;
        border: 1px solid olivedrab;
        margin: 1rem 0;
        color: green;
        padding: 1rem 1rem;
        background-color: black;
        border-radius: 6px;
    }

    .msgForm{
        display:flex;
        flex-direction:row;
    }

    .input{
        height: 100%;
        flex: 4;
        margin-right: 2rem;
        border:none;
        border-radius: .5rem;
        padding: 2px 1rem;
        color: green;
        border: 1px solid green;
        background-color:black;
    }

    .input:focus{
        background-color:black;
    }

    .btn{
        height:5rem;
        flex: 1;
        display:flex;
        justify-content:center;
        align-items:center;
        border-radius: .5rem;
        background-color:green;
        color: whitesmoke;
        border:none;
        /* font-size: 1.6rem; */
    }